# macOS
*.DS_Store
.AppleDouble
.LSOverride
*.dSYM
test.cpp
frontend/lex.yy.c
frontend/sysy.tab.c
frontend/sysy.tab.hpp
code
*.eeyore
*.tigger
*.sy
# vscode
.vscode

# jetbrain
.idea
cmake-build-*

# debug
build
debug

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
