[submodule "reference/MimiC"]
	path = reference/MimiC
	url = https://github.com/ustb-owl/MimiC.git
[submodule "reference/first-step"]
	path = reference/first-step
	url = https://github.com/pku-minic/first-step.git
[submodule "docs/online-doc"]
	path = docs/online-doc
	url = https://github.com/pku-minic/online-doc.git
[submodule "VM"]
	path = VM
	url = https://github.com/pku-minic/MiniVM.git
[submodule "3rdparty/xstl"]
	path = 3rdparty/xstl
	url = https://github.com/MaxXSoft/XSTL
